.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  gap: 1rem; 
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 80rem; 
  
}

@media (max-width: 480px) {
  .contact-list {
    margin-top: 20rem; 
  }
}

@media (max-width: 613px) {
  .contact-list {
    margin-top: 5rem; 
  }
}