
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');


* {
  box-sizing: border-box;
}


html {
  font-family: 'Fjalla One', sans-serif;
}


body {
  margin: 0;
  background: #eaeef6; 
  font-family: 'Fjalla One', sans-serif; 
}


.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg') center center no-repeat;
  background-size: cover;
  z-index: -1; 
}


.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
